body {
    background-image: url("../flower.jpg");
    padding: 20px 40px;
    margin: auto;
    font-display: auto;
    font-family:  'Palatino Linotype';
    color:lightsteelblue;
}
.goals {
    background-color: floralwhite;
    margin: 5px;
    padding: 20px;
    display: inline-block;
    border: double blue;
}

.container {
    text-align: center;
}
    h1 {
    font-family: 'Palatino Linotype';
    color: pink;
    background-color: floralwhite;
    display: inline-flex; 
    padding: 7px;
    border: solid salmon;
   
}

p {
    font-family: 'Palatino Linotype';
    color: slateblue;
    font-size: 18px;
    border: solid pink;
    padding: 10px 20px;
    text-align: center;
    background-color: antiquewhite;
    
}
